.ContactsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  max-width: 320px;
  border: 1px solid #f39c12;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
